@function get-vw($size, $width){
    $vw-context: $width * 0.01 * 1px;
    @return $size / $vw-context * 1vw;
    @return $size;
}


.blog{
    width: get-vw(1440px,1440 );
    display: flex;
    justify-content: center;
    // margin-bottom: get-vw(900px,1440 );
}

.container{
    width: 82.902778vw;
    position: relative;
}
.titleBlock{
    display: flex;
    position: relative;
    margin-bottom: get-vw(110px,1440 );
    margin-left: get-vw(30px,1440 );
    gap: 0.8vw;
}
.patternTitle{
    width: 11vw;
}
.title{
    font-family: 'Bokonique-regular','montserrat-ru-semibold';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    text-transform: uppercase;
    color: #224660;
    margin-top: get-vw(84.5px,1440 );
    width: 30vw;
}

.backPattern{
    position: absolute;
    right: -7%;
}


@media only screen and (max-width: 600px){
    

    .blog{
        width: 100vw;
        display: flex;
        justify-content: center;
        // margin-bottom: get-vw(900px,1440 );
    }

    .container{
        width: 83vw;
        position: relative;
    }
    .titleBlock{
        display: flex;
        position: relative;
        margin-bottom: 7vw;
    }

    .title{
        font-family: 'Bokonique-regular','montserrat-ru-semibold';
        font-style: normal;
        font-weight: 400;
        font-size: 6.5vw;
        line-height: 140%;
        text-transform: uppercase;
        color: #224660;
        margin-top: 2vw;
        z-index: 1;
        margin-top: 9vw;
        width: 20vw;
    }

    .backPattern{
        position: absolute;
        right: -7%;
        width: 60vw;
    }
    .patternTitle{
        width: 15vw;
        height: 15vw;
    }
}