@function get-vw($size, $width){
    $vw-context: $width * 0.01 * 1px;
    @return $size / $vw-context * 1vw;
    @return $size;
}


.ContactUs{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 35vw;
}


.container{
    width: 90.6vw;
}


.titleBlock{
    margin-bottom: 5vw;
    .title{
        font-family: 'Bokonique-regular','montserrat-ru-semibold';
        font-style: normal;
        font-weight: 400;
        font-size: 2.34375vw;
        line-height: 140%;
        text-transform: uppercase;
        color: #224660;
    }
}


.inputsBlock{
    margin-bottom: 4vw;
    display: flex;
    justify-content: space-between;
    .inputs{
        display: flex;
        flex-direction: column;
        gap: 2.5vw;
        div{
            display: flex;
            flex-direction: column;
        }

        .userName{
            width: 34.700520833333336vw;
            height: 3.125vw;
            border: 1px solid rgba(130, 130, 130, 0.8);
            border-radius: 26.041666666666668vw;
            padding: 1.5vw;
            outline: none;
        }
        .userName::placeholder{
            font-family: 'arm-regular','montserrat-ru-regular';
            font-style: normal;
            font-weight: 400;
            font-size: 1vw;
            line-height: 140%;
            color: #828282;
        }
        .number{
            width: 34.700520833333336vw;
            height: 3.125vw;
            border: 1px solid rgba(130, 130, 130, 0.8);
            border-radius: 26.041666666666668vw;
            padding: 1.5vw;
            outline: none;
            
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
        input[type=number] {
        -moz-appearance: textfield;}
        .number::placeholder{
            font-family: 'arm-regular','montserrat-ru-regular';
            font-style: normal;
            font-weight: 400;
            font-size: 1vw;
            line-height: 140%;
            color: #828282;
        }
        .email{
            width: 34.700520833333336vw;
            height: 3.125vw;
            border: 1px solid rgba(130, 130, 130, 0.8);
            border-radius: 26.041666666666668vw;
            padding: 1.5vw;
            outline: none;
        }
        .email::placeholder{
            font-family: 'arm-regular','montserrat-ru-regular';
            font-style: normal;
            font-weight: 400;
            font-size: 1vw;
            line-height: 140%;
            color: #828282;
        }
    }

}

.textAreas{

    .textArea{
        width: 44.791666666666664vw;
        height: 14.583333333333334vw;
        resize: none;
        border: 1px solid rgba(130, 130, 130, 0.8);
        border-radius: 2.6041666666666665vw;
        outline: none;
        padding: 1.5vw;
        font-size: 1vw;
    }
    .textArea::placeholder{
        font-family: 'arm-regular','montserrat-ru-regular';
        font-style: normal;
        font-weight: 400;
        font-size: 1.0416666666666667vw;
        line-height: 140%;
        color: #828282;
    }
}


.buttonAndChekbox {

    display: flex;
    justify-content: space-between;
    align-items: center;
    .checkBlock{
        display: flex;
        align-items: center;
        gap: 0.5vw;

        input{
            width: 1.0416666666666667vw;
            height: 1.0416666666666667vw;
        }
        .agree{
            display: flex;
            align-items: center;
            gap: 0.5vw;
            font-family: "arm-regular",'montserrat-ru-regular';
            font-style: normal;
            font-weight: 400;
            font-size: 0.78125vw;
            line-height: 0.9765625vw;
            color: #224660;
            .span{
                font-family: 'arm-bold','montserrat-ru-regular';
                font-style: normal;
                font-weight: 400;
                font-size: 0.78125vw;
                line-height: 0.9765625vw;
                color: #224660;        
                width: 20.8984375vw;
                height: 0.9765625vw;
                text-decoration-line: underline;
                cursor: pointer;
        
            }
        }
    }

    .send{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.78125vw 3.90625vw;
        width: 12.630208333333334vw;
        height: 2.8645833333333335vw;
        background: #A6CCE5;
        border-radius: 26.041666666666668vw;
        border: none;
        font-family: 'arm-regular','montserrat-ru-regular';
        font-style: normal;
        font-weight: 700;
        font-size: 0.9114583333333334vw;
        line-height: 1.3020833333333333vw;
        color: #224660;
        cursor: pointer;
        &:hover{
            background-color: #fff;
            border: #224660 1px solid;
        }
    }
}

.warning{
    width: 9.5703125vw;
    height: 0.9765625vw;
    font-family: 'arm-regular','montserrat-ru-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 0.78125vw;
    line-height: 0.9765625vw;
    text-align: center;
    color: #CE3F23;
    margin-top: 0.3vw;
}
.success{
    display: none;
}


.checked{
    
    border: #F3EAE5;
 }
 .notChecked{
    width: 2px;
    outline: max(2px, 0.15em) solid #EB5757;
    outline-offset: -1px;
 }

@media only screen and (max-width:600px){
    
        
    .ContactUs{
        width: get-vw(414px,414 );
        display: flex;
        justify-content: center;
        margin-bottom: 95vw;
    }


    .container{
        width: get-vw(365px,414 );
    }


    .titleBlock{
        margin-bottom: 5vw;
        .title{
            font-family: 'Bokonique-regular','montserrat-ru-semibold';
            font-style: normal;
            font-weight: 400;
            font-size: get-vw(28px,414 );
            line-height: get-vw(33px,414 );
            text-transform: uppercase;
            color: #224660;
        }
    }


    .inputsBlock{
        margin-bottom: 4vw;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .inputs{
            display: flex;
            flex-direction: column;
            // gap: 3.5vw;
            
            div{
                display: flex;
                flex-direction: column;
                margin-bottom: 3.5vw;
            }

            .userName{
                width: get-vw(365px,414 );
                height: get-vw(48px,414 );
                border: 1px solid rgba(130, 130, 130, 0.8);
                border-radius: 26.041666666666668vw;
                padding: 4vw;
                outline: none;
            }
            .userName::placeholder{
                font-family: 'arm-regular','montserrat-ru-regular';
                font-style: normal;
                font-weight: 400;
                font-size: get-vw(12px,414 );
                line-height: get-vw(15px,414 );
                color: #828282;
            }
            .number{
                width: get-vw(365px,414 );
                height: get-vw(48px,414 );
                border: 1px solid rgba(130, 130, 130, 0.8);
                border-radius: 26.041666666666668vw;
                padding: 4vw;
                outline: none;
                
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }
            input[type=number] {
            -moz-appearance: textfield;}
            .number::placeholder{
                font-family: 'arm-regular','montserrat-ru-regular';
                font-style: normal;
                font-weight: 400;
                font-size: get-vw(12px,414 );
                line-height: get-vw(15px,414 );
                color: #828282;
            }
            .email{
                width: get-vw(365px,414 );
                height: get-vw(48px,414 );
                border: 1px solid rgba(130, 130, 130, 0.8);
                border-radius: 26.041666666666668vw;
                padding: 4vw;
                outline: none;
            }
            .email::placeholder{
                font-family: 'arm-regular','montserrat-ru-regular';
                font-style: normal;
                font-weight: 400;
                font-size: get-vw(12px,414 );
                line-height: get-vw(15px,414 );
                color: #828282;
            }
        }

    }

    .textAreas{
        margin-top: 5vw;
        .textArea{
            width: get-vw(365px,414 );
            height: get-vw(275px,414 );
            resize: none;
            border: 1px solid rgba(130, 130, 130, 0.8);
            border-radius: get-vw(40px,414 );
            outline: none;
            padding: 5vw;
        }
        .textArea::placeholder{
            font-family: 'arm-regular','montserrat-ru-regular';
            font-style: normal;
            font-weight: 400;
            font-size: get-vw(12px,414 );
            line-height: get-vw(15px,414 );
            color: #828282;
        }
    }


    .buttonAndChekbox {

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .checkBlock{
            display: flex;
            align-items: center;
            gap: 0.5vw;
            width: get-vw(400px,414 );
            height: get-vw(20px,414 );
            margin-bottom: 10vw;
            input{
                width: get-vw(16px,414 );
                height: get-vw(16px,414 );
            }
            .agree{
                display: flex;
                align-items: center;
                font-family: "arm-regular",'montserrat-ru-regular';
                font-style: normal;
                font-weight: 400;
                font-size: get-vw(12px,414 );
                line-height: get-vw(15px,414 );
                width: get-vw(400px,414 );
                gap: 0vw;
                .span{
                    font-family: 'arm-bold','montserrat-ru-regular';
                    font-style: normal;
                    font-weight: 400;
                    font-size: get-vw(12px,414 );
                    line-height: get-vw(15px,414 );
                    color: #224660;        
                    max-width: get-vw(270px,414 );
                    height: get-vw(16px,414 );
                    text-decoration-line: underline;
                    cursor: pointer;
                    text-align: center;
                    width: auto;
                    margin-left: 1.5vw;
                }
            }
        }

        .send{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0.78125vw 3.90625vw;
            width: get-vw(341px,414 );
            height:get-vw(48px,414 );
            background: #A6CCE5;
            border-radius: 26.041666666666668vw;
            border: none;
            font-family: 'arm-regular','montserrat-ru-regular';
            font-style: normal;
            font-weight: 700;
            font-size: get-vw(16px,414 );
            line-height: get-vw(20px,414 );
            color: #224660;
            cursor: pointer;
            &:hover{
                background-color: #fff;
                border: #224660 1px solid;
            }
        }
    }

    .warning{
        width:  get-vw(150px,414 );
        height: get-vw(15px,414 );
        font-family: 'arm-regular','montserrat-ru-regular';
        font-style: normal;
        font-weight: 400;
        font-size: get-vw(12px,414 );
        line-height: get-vw(15px,414 );
        text-align: center;
        color: #CE3F23;
        margin-top: 1.3vw;
    }
    .success{
        display: none;
    }


}