@function get-vw($size, $width){
    $vw-context: $width * 0.01 * 1px;
    @return $size / $vw-context * 1vw;
    @return $size;
}

.backgroundShadow{
    width: 100vw;
    height: 100vh ;
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    transition: opacity .2s ease;
    align-items: center;
    justify-content: center;
    display: flex;
}
.darkShadow{
    width: 100vw;
    height: 100vw;
    position: fixed;
    z-index: 15;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .2s ease;
    
}

.ApplicationForm{
    position: fixed;
    z-index: 102;
    width: 72.33072916666667vw;
    max-height: 46.09375vw;
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 1.3020833333333333vw 1.953125vw rgba(0, 0, 0, 0.1);
    border-radius: 0.6510416666666666vw;
    z-index: 111;
    align-items: center;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    .container{
        width: 67vw;
        max-height: 43.5vw;
    }
}

.titleBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.34375vw;
    
    .title{
        width: 6.315104166666667vw;
        max-height: 3.2552083333333335vw;
        font-family: 'Bokonique-regular','montserrat-ru-regular';
        font-style: normal;
        font-weight: 400;
        font-size: 2.34375vw;
        line-height: 140%;
        text-transform: uppercase;
        color: #224660;
    }
    
}
.close{
    color: #828282;
    font-style: normal;
    font-size: 3.6vw;
    cursor: pointer;
    position: absolute;
    right: 1vw;
    top: -0.5vw;
}
.inputs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
    .work{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0.6510416666666666vw 0.6510416666666666vw 0.6510416666666666vw 1.6276041666666667vw;
        gap: 0.6510416666666666vw;
        width: 31.491536458333332vw;
        height: 3.125vw;
        border: 1px solid rgba(130, 130, 130, 0.8);
        border-radius: 26.041666666666668vw;
        outline: none;
        ::placeholder{
            width: 8.203125vw;
            height: 1.4322916666666667vw;
            font-family: 'arm-regular','montserrat-ru-regular';
            font-style: normal;
            font-weight: 400;
            font-size: 1.0416666666666667vw;
            line-height: 140%;
            color: #828282;
        }
    }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
        input[type=number] {
        -moz-appearance: textfield;
}
    .name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0.6510416666666666vw 0.6510416666666666vw 0.6510416666666666vw 1.6276041666666667vw;
        gap: 0.6510416666666666vw;
        width: 31.491536458333332vw;
        height: 3.125vw;
        border: 1px solid rgba(130, 130, 130, 0.8);
        border-radius: 26.041666666666668vw;
        outline: none;
        
        ::placeholder{
            width: 8.203125vw;
            height: 1.4322916666666667vw;
            font-family: 'arm-regular','montserrat-ru-regular';
            font-style: normal;
            font-weight: 400;
            font-size: 1.0416666666666667vw;
            line-height: 140%;
            color: #828282;
        }
    }
}

.warning{
    width: 9.5703125vw;
    height: 0.9765625vw;
    font-family: 'arm-regular','montserrat-ru-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 0.78125vw;
    line-height: 0.9765625vw;
    text-align: center;
    color: #CE3F23;
    margin-left: 1vw;
}
.success{
    display: none;
}

.textarea{
    padding: 1.3020833333333333vw 0.6510416666666666vw 0px 1.6276041666666667vw;
    width: 66.88vw;
    height: 11.71875vw;
    border: 1px solid rgba(130, 130, 130, 0.8);
    border-radius: 2.6041666666666665vw;
    font-family: 'arm-regular','montserrat-ru-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8563541666666666vw;
    line-height: 140%;
    outline: none;
    resize: none;
    margin-bottom: 2vw;
}


.saveCvBLock{
    display: flex;
    align-items: center;
    gap: 1vw;
    .saveIcon{
        cursor: pointer;
    }
}
.saveCv{
    width: 9vw;
    height: 1.4322916666666667vw;
    font-family: 'arm-regular','montserrat-ru-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 1.0416666666666667vw;
    line-height: 140%;
    color: #224660;
    cursor: pointer;
}
.saveCvError{
    width: 9vw;
    height: 1.4322916666666667vw;
    font-family: 'arm-regular','montserrat-ru-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 1.0416666666666667vw;
    line-height: 140%;
    color: #CE3F23;
    cursor: pointer;
}

.checkBlock{
    display: flex;
    align-items: center;
    margin-top: 1vw;
    gap: 0.5vw;

    input{
        width: 1.0416666666666667vw;
        height: 1.0416666666666667vw;
    }
    
}
.send{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.78125vw 3.90625vw;
    gap: 0.78125vw;
    width: 12.630208333333334vw;
    height: 2.8645833333333335vw;
    background: #A6CCE5;
    border-radius: 26.041666666666668vw;
    border: none;
    font-family: 'arm-regular','montserrat-ru-regular';
    font-style: normal;
    font-weight: 700;
    font-size: 0.9114583333333334vw;
    line-height: 1.3020833333333333vw;
    margin-top: 2.5vw;
    color: #224660;
    cursor: pointer;
    &:hover{
        background-color: #fff;
        border: #224660 1px solid;
    }
}
.agree{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-family: "arm-regular",'montserrat-ru-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 0.78125vw;
    line-height: 0.9765625vw;
    color: #224660;
    .span{
        font-family: 'arm-bold','montserrat-ru-bold';
        font-style: normal;
        font-weight: 400;
        font-size: 0.78125vw;
        line-height: 0.9765625vw;
        color: #224660;        
        width: 23.8984375vw;
        height: 0.9765625vw;
        text-decoration-line: underline;
        cursor: pointer;

    }
}
.checked{
    
    border: #F3EAE5;
 }
 .notChecked{
    width: 2px;
    outline: max(2px, 0.15em) solid #EB5757;
    outline-offset: -1px;
 }


@media only screen and (max-width: 600px){

    .backgroundShadow{
        width: get-vw(414px,414 );
        height: 100%;
        position: absolute;
        z-index: 9;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        transition: opacity .2s ease;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .darkShadow{
        width: get-vw(414px,414 );
        height: 100%;
        position: fixed;
        z-index: 15;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .5);
        transition: opacity .2s ease;
        
    }
    
    .ApplicationForm{
        position: fixed;
        z-index: 12;
        width: 93%;
        max-height: 95%;
        display: flex;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0px 1.3020833333333333vw 1.953125vw rgba(0, 0, 0, 0.1);
        border-radius: 0.6510416666666666vw;
        z-index: 111;
        align-items: flex-start;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        margin: auto;
        .container{
            width: get-vw(340px,414 );
            height: 100%;
        }
    }
    
    .titleBlock{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 7vw;
        margin-top: 3vw;
        .title{
            width: get-vw(60px,414 );
            max-height: 3.2552083333333335vw;
            font-family: 'Bokonique-regular','montserrat-ru-regular';
            font-style: normal;
            font-weight: 400;
            font-size: get-vw(23px,414 );
            line-height: get-vw(33px,414 );
            text-transform: uppercase;
            color: #224660;
        }
        
    }
    .close{
        color: #828282;
        font-style: normal;
        font-size: get-vw(35px,414 );
        cursor: pointer;
        position: absolute;
        right: 3vw;
        top: 0vw;
    }
    .inputs{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1vw;
        flex-direction: column;
        // gap: 4vw;
        div{
            margin-bottom: 4vw;
        }
        .work{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 1vw 1vw 1vw 3.5vw;
            gap: 0.6510416666666666vw;
            width: get-vw(314px,414 );
            height: get-vw(45px,414 );
            border: 1px solid rgba(130, 130, 130, 0.8);
            border-radius: 26.041666666666668vw;
            outline: none;
            &::placeholder{
                width: get-vw(314px,414 );
                height: get-vw(45px,414 );
                font-family: 'arm-regular','montserrat-ru-regular';
                font-style: normal;
                font-weight: 400;
                font-size: get-vw(15px,414 );
                line-height: get-vw(24px,414 );
                color: #828282;
            }
        }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }
            input[type=number] {
            -moz-appearance: textfield;
    }
        .name{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 1vw 1vw 1vw 3.5vw;
            gap: 5vw;
            width: get-vw(314px,414 );
            height: get-vw(45px,414 );
            border: 1px solid rgba(130, 130, 130, 0.8);
            border-radius: 26.041666666666668vw;
            outline: none;
            margin-bottom: 1vw;
            &::placeholder{
                width: get-vw(314px,414 );
                height: get-vw(45px,414 );
                font-family: 'arm-regular','montserrat-ru-regular';
                font-style: normal;
                font-weight: 400;
                font-size: get-vw(15px,414 );
                line-height: get-vw(24px,414 );
                color: #828282;
            }
        }
    }
    
    .warning{
        display: flex;
        margin-top: 0vw;
        width: get-vw(200px,414 );
        height: get-vw(20px,414 );
        font-family: 'arm-regular','montserrat-ru-regular';
        font-style: normal;
        font-weight: 400;
        font-size: get-vw(12px,414 );
        line-height: 0.9765625vw;
        align-items: center;
        color: #CE3F23;
        margin-left: 1vw;
    }
    .saveCvError{
        width: get-vw(130px,414 );
        height: get-vw(20px,414 );
        font-family: 'arm-regular','montserrat-ru-regular';
        font-style: normal;
        font-weight: 400;
        font-size: get-vw(16px,414 );
        line-height: 140%;
        color: #CE3F23;
        cursor: pointer;
    }
    .success{
        display: none;
    }
    
    .textarea{
        padding: 2.30vw 0.65vw 0px 3.62vw;
        width: get-vw(314px,414 );
        height: get-vw(179px,414 );
        border: 1px solid rgba(130, 130, 130, 0.8);
        border-radius: 5.6041666666666665vw;
        font-family: 'arm-regular','montserrat-ru-regular';
        font-style: normal;
        font-weight: 400;
        font-size: get-vw(15px,414 );
        line-height: get-vw(23px,414 );
        outline: none;
        resize: none;
        margin-bottom: 2vw;
    }
    
    
    .saveCvBLock{
        display: flex;
        align-items: center;
        gap: 4vw;
        margin-left: 3px;
        margin-bottom: 3vw;
        .saveIcon{
            cursor: pointer;
            width: get-vw(22px,414 );
        }
    }
    .saveCv{
        width: get-vw(200px,414 );
        height: get-vw(25px,414 );
        font-family: 'arm-regular','montserrat-ru-regular';
        font-style: normal;
        font-weight: 400;
        font-size: get-vw(16px,414 );
        line-height: get-vw(22px,414 );
        color: #224660;
        cursor: pointer;
    }
    
    .checkBlock{
        display: flex;
        align-items: center;
        margin-top: 0.5vw;
        gap: 0.1vw;
        width: get-vw(360px,414 );
        input{
            width: get-vw(15px,414 );
            height: get-vw(15px,414 );
        }
        
    }
    .send{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.78125vw 3.90625vw;
        gap: 0.78125vw;
        width: get-vw(300px,414 );
        height: get-vw(43px,414 );
        background: #A6CCE5;
        border-radius: 26.041666666666668vw;
        border: none;
        font-family: 'arm-regular','montserrat-ru-regular';
        font-style: normal;
        font-weight: 700;
        font-size: get-vw(14px,414 );
        line-height: get-vw(19px,414 );
        margin-top: 2.5vw;
        color: #224660;
        cursor: pointer;
        &:hover{
            background-color: #fff;
            border: #224660 1px solid;
        }
    }
    .agree{
        display: flex;
        // flex-wrap: wrap;
        align-items: center;
        gap: 0vw;
        font-family: "arm-regular",'montserrat-ru-regular';
        font-style: normal;
        font-weight: 400;
        font-size:get-vw(11px,414 );
        line-height: get-vw(15px,414 );
        width: get-vw(390px,414 );
        height: get-vw(40px,414 );
        color: #224660;
        .span{
            font-family: 'arm-bold','montserrat-ru-bold';
            font-style: normal;
            font-weight: 400;
            font-size: get-vw(9px,414 );
            line-height: 0.9765625vw;
            color: #224660;        
            max-width: get-vw(250px,414 );
            height: 5vw;
            text-decoration-line: underline;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            margin-left: 1.5vw;
        }
    }
    
}