.SecEntertainment {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container {
  width: 84.3684895833vw;
}

.goBackBlock {
  display: flex;
  gap: 1vw;
  margin-bottom: 4vw;
  margin-top: 6vw;
}

.goBack {
  font-family: "arm-semiBold", "montserrat-ru-regular";
  font-style: normal;
  font-weight: 600;
  font-size: 0.78125vw;
  line-height: 1.3020833333vw;
  color: #224660;
}

.forHover {
  display: flex;
  gap: 1vw;
  cursor: pointer;
}

.forHover:hover .arrow {
  transform: translateX(-10px);
  transition: 1s;
}

.infoBlock .description {
  margin-top: 3vw;
  font-family: "arm-regular", "montserrat-ru-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #224660;
  margin-bottom: 6vw;
}

.imgBlock {
  display: flex;
  gap: 0.8vw;
  justify-content: space-between;
}
.imgBlock .forFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MobileSecMain {
  display: none;
}

.contactBlock {
  display: flex;
  margin-top: 1vw;
  gap: 1.5vw;
}
.contactBlock .numberBlock {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.contactBlock .numberBlock .number {
  font-family: "arm-bold", "montserrat-ru-regular";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #224660;
}
.contactBlock .numberBlock .phoneIcon {
  width: 1.6666666667vw;
  height: 1.6666666667vw;
}

.networkBlock {
  display: flex;
  gap: 0.8vw;
}

@media only screen and (max-width: 600px) {
  .SecEntertainment {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 22vw;
  }
  .container {
    width: 88.1642512077vw;
  }
  .goBackBlock {
    display: flex;
    gap: 1vw;
    margin-bottom: 4vw;
    margin-top: 6vw;
  }
  .goBack {
    font-family: "arm-semiBold", "montserrat-ru-regular";
    font-style: normal;
    font-weight: 600;
    font-size: 2.8985507246vw;
    line-height: 3.6231884058vw;
    color: #224660;
    margin-left: 2vw;
  }
  .forHover {
    display: flex;
    gap: 1vw;
    cursor: pointer;
  }
  .forHover:hover .arrow {
    transform: translateX(-10px);
    transition: 1s;
  }
  .infoBlock .description {
    margin-top: 3vw;
    font-family: "arm-regular", "montserrat-ru-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 3.8647342995vw;
    line-height: 5.7971014493vw;
    color: #224660;
    margin-bottom: 6vw;
    width: 88.1642512077vw;
    overflow: hidden;
  }
  .imgBlock {
    display: flex;
    gap: 0.8vw;
    justify-content: space-between;
    width: 88.1642512077vw;
  }
  .imgBlock .forFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .MobileSecMain {
    display: flex;
    flex-direction: column;
    width: 88.1642512077vw;
    margin-top: 9.6618357488vw;
    margin-bottom: 9.6618357488vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 72.4637681159vw;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .MobileSecMain .MobileTitleAndPattern {
    display: flex;
    align-items: flex-end;
  }
  .MobileSecMain .mobileTitle {
    font-family: "arm-bold", "montserrat-ru-regular";
    font-style: normal;
    font-weight: 700;
    font-size: 5.7971014493vw;
    line-height: 7.0048309179vw;
    color: #FFF;
    margin-bottom: 2vw;
    z-index: 1;
  }
  .MobileSecMain .MobileBackground {
    margin-top: 7.2463768116vw;
  }
  .MobileSecMain .mobilePattern {
    width: 18.115942029vw;
  }
  .numberBlock {
    width: 38.6473429952vw;
  }
  .contactBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .networkBlock {
    display: flex;
    gap: 0vw;
    margin-top: 3vw;
  }
  .networkBlock .Linkdin {
    margin-right: 1vw;
  }
  .networkBlock .Facebook {
    margin-right: 1vw;
  }
  .phoneIcon {
    width: 7.2463768116vw !important;
    height: 7.2463768116vw !important;
    margin-right: 2.4154589372vw;
  }
  .gradientt {
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 99.23%);
    height: 72.4637681159vw;
    width: 100vw;
    opacity: 0.7;
  }
}/*# sourceMappingURL=secEntertainment.module.css.map */