@function get-vw($size, $width){
    $vw-context: $width * 0.01 * 1px;
    @return $size / $vw-context * 1vw;
    @return $size;
}



.secMain{
    width: 100vw;
    position: relative;
}
.gradientt{
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 99.23%);
    height: 26.171875vw;
    width: 100vw;
    opacity: 0.7;
}

.background{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 26.171875vw;
    display: flex;
    align-items: center;
}

.patternAndTitle{
    display: flex;
    margin-left: 4.557291666666667vw;
    align-items: center;
    z-index: 5;

    .title{
        font-family: 'Bokonique-regular','montserrat-ru-semibold';
        font-style: normal;
        font-weight: 400;
        font-size: 2.34375vw;
        line-height: 140%;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 20vw;
        margin-top: 45px;
    }
    .pattern{
        width: get-vw(165px,1440 );
    }
}



@media only screen and (max-width:600px){

    .secMain{
        width: get-vw(414px,414 );
        height: 80vh;
        position: relative;
    }
    .gradientt{
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 99.23%);
        height: 80vh;
        width: get-vw(414px,414 );
        opacity: 0.7;
    }
    
    .background{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: get-vw(414px,414 );
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    .patternAndTitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 5;
        margin-top: get-vw(50px,414 );        
        margin-left: 0px;
        // gap: 4vw;
        .pattern{
            width: get-vw(95px,414 );
            height: get-vw(95px, 414 );
        }
        .title{
            width: get-vw(300px,414 );
            font-family: 'Bokonique-regular','montserrat-ru-semibold';
            font-style: normal;
            font-weight: 400;
            font-size: get-vw(25px,414 );
            line-height: 140%;
            text-transform: uppercase;
            color: #FFFFFF;
            text-align: center;
        }
    }
    
}