.TrendColors{
    width: 100vw;
    display: flex;
    justify-content: center;
}



.container{
    width: 90.6vw;
}


.titleBlock{
    margin-bottom: 10vw;

    .title{
        font-family: 'Bokonique-regular','montserrat-ru-regular';
        font-style: normal;
        font-weight: 400;
        font-size: 2.34375vw;
        line-height: 140%;
        text-transform: uppercase;
        color: #224660;
        margin-bottom: 3vw;
    }
    .description{
        font-family: 'arm-regular','montserrat-ru-regular';
        font-style: normal;
        font-weight: 400;
        font-size: 1.171875vw;
        line-height: 160%;
        color: #000000;
    }
}

.collageBlock{
    display: flex;
    gap: 5vw;
    margin-bottom: 10vw;
    .collage{
        width: 39.127604166666664vw;
        height: 39.127604166666664vw;
    }
    .descrip{
        font-family: 'arm-regular','montserrat-ru-regular';
        font-style: normal;
        font-weight: 400;
        font-size: 1.171875vw;
        line-height: 160%;
        color: #000000;
        width: 41.796875vw;
    }
}

.line{
    width: 90.6vw;
    height: 2px;
    background: #B0B2B6;
    opacity: 0.16;
    margin-bottom: 3vw;
}


.shareBlock{
    display: flex;
    gap: 1vw;
    align-items: center;
    .share{
        font-family: 'arm-regular','montserrat-ru-regular';
        font-style: normal;
        font-weight: 400;
        font-size: 0.9114583333333334vw;
        line-height: 140%;
        color: #224660;
    }
    .network{
        display: flex;
        gap: 1vw;
    }
}