@function get-vw($size, $width){
    $vw-context: $width * 0.01 * 1px;
    @return $size / $vw-context * 1vw;
    @return $size;
}



.NewOffers{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 35vw;
}

.container{
    width: 90vw;

}

.titleBlock{
    margin-top: 5vw;
    margin-bottom: 5vw;

    .title{
    font-family: 'Bokonique-regular','montserrat-ru-semibold';
    font-style: normal;
    font-weight: 400;
    font-size: 2.34375vw;
    line-height: 140%;
    text-transform: uppercase;
    color: #224660;
    }
}
.newSpecialOffers{
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: space-between;
}

.specialOffersBlock{
    cursor: pointer;
    display: flex;
    .background{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 44.5vw;
        height: 45.317708333333336vw;
        padding: 2vw;
        .logoBlock{
            display: flex;
            align-items: center;
            gap: 1.5vw;

            .BrandName{
            font-family: 'arm-bold','montserrat-ru-bold';
            font-style: normal;
            font-weight: 700;
            font-size: 1.5625vw;
            line-height: 1.8880208333333333vw;
            color:  #224660;
            }
            .logo{
                width: 5.8vw;
                height: 5.8vw;
                // border-radius: 50%;
            }
        }
    }
}

.buttonBlock{
    margin-top: 5.3vw;
    display: flex;
    justify-content: center;
    margin-bottom: 13.671875vw;
    .button{
        background-color: transparent;
        border-radius: 3.2552083333333335vw;
        width: 8.138020833333334vw;
        height: 2.1484375vw;
        border: 1px solid #A6CCE5;
        color: #224660;
        font-family: 'arm-regular','montserrat-ru-regular';
        font-style: normal;
        font-weight: 600;
        font-size: 0.78125vw;
        line-height: 0.9765625vw;
        cursor: pointer;
        &:hover{
            background-color: #A6CCE5;
            transition: 0.5s;
        }
    }
}
.mobile{
    display: none;
}
.loading{
    width: 90vw;
    display: flex;
    justify-content: center;
    
}
@media only screen and (max-width: 600px) {
    
    
    .NewOffers{
        width: get-vw(414px,414 );
        display: flex;
        justify-content: center;
        margin-bottom: 95vw;
    }

    .container{
        width: get-vw(365px,414 );

    }

    .titleBlock{
        margin-top: 5vw;
        margin-bottom: 5vw;

        .title{
        font-family: 'Bokonique-regular','montserrat-ru-regular';
        font-style: normal;
        font-weight: 400;
        font-size: get-vw(28px,414 );
        line-height: get-vw(33px,414 );
        text-transform: uppercase;
        color: #224660;
        }
    }
    .newSpecialOffers{
        display: none;
       
    }

    .specialOffersBlock{
        cursor: pointer;
        display: flex;
        .background{
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: get-vw(365px,414 );
            height: get-vw(350px,414 );
            padding: 2vw;
            margin-bottom: 2vw;
            .logoBlock{
                display: flex;
                align-items: center;
                gap: 1.5vw;

                .BrandName{
                font-family: 'arm-bold','montserrat-ru-bold';
                font-style: normal;
                font-weight: 700;
                font-size: get-vw(14px,414 );
                line-height: get-vw(17px,414 );
                }
                .logo{
                    width: get-vw(60px,414 );
                    height: get-vw(60px,414);
                }
            }
        }
    }

    .buttonBlock{
        display: none;       
    }
    .mobile{
        display: flex;
            flex-wrap: wrap;
            gap: 2vw;
            flex-direction: column;
            align-items: center;
    }
    
    .loading{
        width: get-vw(365px,414 );
        display: flex;
        justify-content: center;
        
    }
}



