@function get-vw($size, $width){
  $vw-context: $width * 0.01 * 1px;
  @return $size / $vw-context * 1vw;
  @return $size;
}


.HeaderOffer{
    width: 100vw;
    background-color: #1EE4F0;
    display: flex;
    justify-content: center;
    height: 2vw;
}



.container{
    display: flex;
    align-items: center;
    // -moz-transform: translateX(100vw);
    // -webkit-transform: translateX(100vw);
    // transform: translateX(100vw);
    // -moz-animation: my-animation 20s linear infinite;
    // -webkit-animation: my-animation 20s linear infinite;
    // animation: my-animation 20s linear infinite;
}
.loop{
    display: flex;
    align-items: center;
    gap: 2vw;
    cursor: pointer;
    
}
    .leftText{
        font-family: 'arm-semiBold','montserrat-ru-semiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        animation: blink 2.5s linear infinite;
        @keyframes blink{
          0%{opacity: 0;}
          50%{opacity: .5;}
          100%{opacity: 1;}
          }
    }




//   @-moz-keyframes my-animation {
//     100% { -moz-transform: translateX(-100vw); }

//     0% { -moz-transform: translateX(100vw); }
//   }
  
//   /* for Chrome */
//   @-webkit-keyframes my-animation {
//     100% { -webkit-transform: translateX(-100vw); }
//     0%  { -webkit-transform: translateX(90vw); }
//   }
  
//   @keyframes my-animation {
//     100% {
      
//       transform: translateX(-90vw);
//     }
//     0%  {
//       transform: translateX(90vw);
//     }
// }



@media only screen and (max-width:600px) {

      
    .HeaderOffer{
      width: get-vw(414px,414 );
      background-color: #1EE4F0;
      display: flex;
      justify-content: center;
      height: get-vw(70px,414 );
    }



    .container{
      display: flex;
      align-items: center;
    }
    .loop{
      display: flex;
      align-items: center;
      gap: 2vw;
      cursor: pointer;
      
    }
      .leftText{
          font-family: 'arm-semiBold','montserrat-ru-semiBold';
          font-style: normal;
          font-weight: 600;
          font-size:get-vw(12px,414 );
          line-height:get-vw( 15px,414 );
          color: #FFFFFF;
      }
      .middleText{
          font-family: 'arm-bold','montserrat-ru-bold';
          font-style: normal;
          font-weight: 700;
          font-size: get-vw(20px,414 );
          line-height: get-vw(24px,414 );
          color: #FFFFFF;
      }
      .rightText{
          width: 300px;
          font-family: 'arm-semiBold','montserrat-ru-semiBold';
          font-style: normal;
          font-weight: 600;
          font-size: get-vw(12px,414 );
          line-height: get-vw(15px,414 );
          color: #FFFFFF;

      }


    .container {
      -moz-transform: translateX(100vw);
      -webkit-transform: translateX(100vw);
      transform: translateX(100vw);
      -moz-animation: my-animation 20s linear infinite;
      -webkit-animation: my-animation 20s linear infinite;
      animation: my-animation 20s linear infinite;
    }

}