@font-face {
    font-family: Bokonique-regular;
    src: url('../../../public/fonts/bokonique/bokonique/Bokonique-Regular.otf');
}
@font-face {
    font-family: arm-bold;
    src: url('../../../public/fonts/fonter.am_montserrat-armenian/Montserratarm-Bold.otf');
}
@font-face {
    font-family: arm-regular;
    src: url('../../../public/fonts/fonter.am_montserrat-armenian/Montserratarm-Regular.otf');
}
@font-face {
    font-family: arm-semiBold;
    src: url('../../../public/fonts/fonter.am_montserrat-armenian/Montserratarm-SemiBold.otf');
}
@font-face {
    font-family: cosi-arm;
    src: url('../../../public/fonts/CosiArrm/CosiArm.ttf');
}
@font-face {
    font-family: montserrat-ru-bold;
    src: url("../../../public/fonts/montserrat/Montserrat-Bold.otf");
}
@font-face {
    font-family: montserrat-ru-regular;
    src: url("../../../public/fonts/montserrat/Montserrat-Regular.otf");
}
@font-face {
    font-family: montserrat-ru-semiBold;
    src: url("../../../public/fonts/montserrat/Montserrat-SemiBold.otf");
}
