html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  overflow-x: hidden;
}

.MainHeadersDiv {
  position: sticky;
  top: -4.1vw;
  z-index: 9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden !important;
}

.home-owl .owl-dots {
  position: absolute;
  top: 86%;
  left: 45%;
}

.home-owl .owl-nav:hover > .owl-next {
  background: none !important;
}

.home-owl .owl-nav:hover > .owl-prev {
  background: none !important;
}

.home-owl .owl-dots button.owl-dot.active span,
.home-owl .owl-dots button.owl-dot:hover span {
  width: 4.0364583333vw;
  height: 0.6510416667vw;
  background-color: rgb(255, 252, 255);
  border-radius: 0%;
}

.home-owl .owl-dots button.owl-dot span {
  width: 4.0364583333vw;
  height: 0.6510416667vw;
  border-radius: 0%;
  margin: 1px;
}

.home-owl .owl-nav {
  position: absolute;
  top: 40%;
}

.home-owl .owl-nav button.owl-next {
  position: absolute;
  left: 93.915625vw;
}

.home-owl .owl-nav button.owl-prev {
  position: absolute;
  left: 2vw;
}

@media only screen and (max-width: 600px) {
  .home-owl .owl-dots {
    position: absolute;
    top: 90%;
    left: 40%;
  }
  .home-owl .owl-nav {
    display: none;
  }
  .home-owl {
    height: 80vh;
  }
  .home-owl .owl-dots button.owl-dot.active span,
  .home-owl .owl-dots button.owl-dot:hover span {
    width: 10vw;
    height: 1.65vw;
    background-color: rgb(255, 252, 255);
    border-radius: 0%;
  }
  .home-owl .owl-dots button.owl-dot span {
    width: 10vw;
    height: 1.65vw;
    border-radius: 0%;
    margin: 0.5px;
  }
}
.owl-stage-outer .owl-stage {
  display: flex;
  align-items: center;
  text-align: center;
}

.owl-bestBrands .owl-nav {
  position: absolute;
  top: -8.8125vw;
  right: 2.5572916667vw;
}

.owl-bestBrands .owl-nav button.owl-prev:hover {
  background: none;
  transform: scale(1.2);
  transition: 0.8s;
}

.owl-bestBrands .owl-nav button.owl-next:hover {
  background: none;
  transform: scale(1.2);
  transition: 0.8s;
}

.owl-bestBrands .owl-nav .owl-prev {
  width: 4.90625vw;
}

.owl-bestBrands .owl-nav .owl-prev img {
  width: 9.1614583333vw;
}

.owl-bestBrands .owl-nav .owl-next img {
  width: 9.1614583333vw;
}

.owl-bestBrands .owl-dots {
  margin-top: 2.6vw;
}

.owl-bestBrands .owl-dots button.owl-dot span {
  width: 4.0364583333vw;
  height: 0.6510416667vw;
  border-radius: 0%;
  margin: 1px;
}

.owl-bestBrands .owl-dots button.owl-dot.active span,
.owl-bestBrands .owl-dots button.owl-dot:hover span {
  width: 4.0364583333vw;
  height: 0.6510416667vw;
  background-color: #224660;
  border-radius: 0%;
}

@media only screen and (max-width: 600px) {
  .owl-bestBrands .owl-nav {
    display: none;
  }
}
.owl-blogSlider .owl-nav {
  position: absolute;
  top: -9.8125vw;
  right: -2.742708vw;
}

.owl-blogSlider .owl-stage-outer {
  height: 52.0833333333vw;
  width: 85.15625vw;
}

.owl-blogSlider .owl-nav button.owl-prev img:hover {
  background: none !important;
  transform: scale(1.1);
}

.owl-blogSlider .owl-nav button.owl-next:hover {
  background: none;
  transform: scale(1.1);
  transition: 0.8s;
}

.owl-blogSlider .owl-nav .owl-prev {
  width: 4.90625vw;
  transition: 0.8s;
}

.owl-blogSlider .owl-nav .owl-prev img {
  width: 9.1614583333vw;
}

.owl-blogSlider .owl-nav .owl-next img {
  width: 9.1614583333vw;
}

.owl-blogSlider .owl-nav button.owl-prev:hover {
  background: none;
  transform: scale(1.1);
  transition: 0.8s;
}

@media only screen and (max-width: 600px) {
  .owl-blogSlider .owl-dots button.owl-dot span {
    width: 4.0364583333vw;
    height: 0.6510416667vw;
    border-radius: 0%;
    margin: 1px;
  }
  .owl-blogSlider .owl-dots button.owl-dot.active span,
  .owl-blogSlider .owl-dots button.owl-dot:hover span {
    width: 4.0364583333vw;
    height: 0.6510416667vw;
    background-color: #224660;
    border-radius: 0%;
  }
  .owl-blogSlider .owl-stage-outer {
    height: 100vw;
    width: 85.15625vw;
  }
  .owl-blogSlider .owl-stage {
    height: 100vw;
  }
  .owl-blogSlider .owl-item {
    height: 100vw;
  }
}
.owl-newsSlider .owl-nav {
  position: absolute;
  top: -9.8125vw;
  right: -2vw;
  background: none;
}

.owl-newsSlider .owl-nav button.owl-prev:hover {
  background: none;
  transform: scale(1.2);
  transition: 0.8s;
}

.owl-newsSlider .owl-nav button.owl-next:hover {
  background: none;
  transform: scale(1.2);
  transition: 0.8s;
}

.owl-newsSlider .owl-nav .owl-prev {
  width: 4.90625vw;
}

.owl-newsSlider .owl-nav .owl-prev img {
  width: 9.1614583333vw;
}

.owl-newsSlider .owl-nav .owl-next img {
  width: 9.1614583333vw;
}

@media only screen and (max-width: 600px) {
  .owl-newsSlider .owl-dots button.owl-dot span {
    width: 4.0364583333vw;
    height: 0.6510416667vw;
    border-radius: 0%;
    margin: 1px;
  }
  .owl-newsSlider .owl-dots button.owl-dot.active span,
  .owl-newsSlider .owl-dots button.owl-dot:hover span {
    width: 4.0364583333vw;
    height: 0.6510416667vw;
    background-color: #224660;
    border-radius: 0%;
  }
}
.slick-slider .slick-track .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-slider .slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .owl-specialOfferMobile .owl-dots {
    position: absolute;
    top: 96%;
    left: 35%;
  }
  .owl-specialOfferMobile .owl-nav {
    display: none;
  }
  .owl-specialOfferMobile .owl-dots button.owl-dot span {
    width: 5vw;
    height: 1vw;
    border-radius: 0%;
    margin: 1px;
  }
  .owl-specialOfferMobile .owl-dots button.owl-dot.active span,
  .owl-specialOfferMobile .owl-dots button.owl-dot:hover span {
    width: 5vw;
    height: 1vw;
    background-color: #224660;
    border-radius: 0%;
  }
  .owl-specialOfferMobileNews .owl-dots {
    position: absolute;
    top: 100%;
    left: 45%;
  }
  .owl-specialOfferMobileNews .owl-nav {
    display: none;
  }
  .owl-specialOfferMobileNews .owl-dots button.owl-dot span {
    width: 5vw;
    height: 1vw;
    border-radius: 0%;
    margin: 1px;
  }
  .owl-specialOfferMobileNews .owl-dots button.owl-dot.active span,
  .owl-specialOfferMobileNews .owl-dots button.owl-dot:hover span {
    width: 5vw;
    height: 1vw;
    background-color: #224660;
    border-radius: 0%;
  }
  .owl-specialOfferMobileNews .owl-stage-outer {
    height: 70vw;
    width: 85.15625vw;
  }
  .owl-specialOfferMobileNewsSingle .owl-dots {
    position: absolute;
    top: 110%;
    left: 45%;
  }
  .owl-specialOfferMobileNewsSingle .owl-nav {
    display: none;
  }
  .owl-specialOfferMobileNewsSingle .owl-dots button.owl-dot span {
    width: 5vw;
    height: 1vw;
    border-radius: 0%;
    margin: 1px;
  }
  .owl-specialOfferMobileNewsSingle .owl-dots button.owl-dot.active span,
  .owl-specialOfferMobileNewsSingle .owl-dots button.owl-dot:hover span {
    width: 5vw;
    height: 1vw;
    background-color: #224660;
    border-radius: 0%;
  }
  .owl-specialOfferMobileNewsSingle .owl-stage-outer {
    height: 136vw;
    width: 85.15625vw;
  }
  .owl-specialOfferMobileBlogSingle .owl-dots {
    position: absolute;
    top: 100%;
    left: 45%;
  }
  .owl-specialOfferMobileBlogSingle .owl-nav {
    display: none;
  }
  .owl-specialOfferMobileBlogSingle .owl-dots button.owl-dot span {
    width: 5vw;
    height: 1vw;
    border-radius: 0%;
    margin: 1px;
  }
  .owl-specialOfferMobileBlogSingle .owl-dots button.owl-dot.active span,
  .owl-specialOfferMobileBlogSingle .owl-dots button.owl-dot:hover span {
    width: 5vw;
    height: 1vw;
    background-color: #224660;
    border-radius: 0%;
  }
  .owl-specialOfferMobileBlogSingle .owl-stage-outer {
    height: 136vw;
    width: 85.15625vw;
  }
}
figure {
  margin: 10px 0;
}

/* Let the image have figure's size. */
figure img {
  max-width: 100%;
  height: auto;
}

/* Image narrow style. */
figure.image-narrow img, img.image-narrow {
  max-width: 300px;
  height: auto;
}

/* Image wide style. */
figure.image-wide img, img.image-wide {
  max-width: 500px;
  height: auto;
}

/* Image alignment styles. */
.image-align-right {
  float: right;
  margin-left: 20px;
}

.image-align-left {
  float: left;
  margin-right: 20px;
}

.image-align-center {
  text-align: center;
}

.image-align-center > figure {
  display: inline-block;
}

/* Embed narrow style. */
.embed-narrow {
  width: 75%;
}

/* Embed center style. */
.embed-align-center {
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=global.css.map */