.Questions {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-bottom: 35vw;
  position: relative;
}

.backgroundPattern {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -11;
  width: 62.7777777778vw;
}

.container {
  width: 90vw;
}

.title {
  font-family: "Bokonique-regular", "montserrat-ru-semibold";
  font-style: normal;
  font-weight: 400;
  font-size: 2.34375vw;
  line-height: 140%;
  text-transform: uppercase;
  width: 29.168vw;
  height: 3.2552035vw;
  color: #224660;
  margin-top: 4vw;
  margin-bottom: 6vw;
}

.questionsBlock {
  display: flex;
  flex-direction: column;
  gap: 4vw;
  padding-left: 1vw;
}

.mapBlock {
  display: flex;
  gap: 1vw;
}

.imgPatternBlock {
  position: relative;
}
.imgPatternBlock .pattern {
  position: relative;
  width: 6.0546875vw;
  height: 6.0546875vw;
  background-image: url("../../../../../public/img/FAQpage/questions/pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.imgPatternBlock .plus {
  position: absolute;
  z-index: 2;
  font-size: 1.7578125vw;
  right: 0.6vw;
  top: 0.2vw;
  font-weight: 600;
  height: 1.953125vw;
  color: #224660;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.imgPatternBlock .minus {
  position: absolute;
  z-index: 2;
  font-size: 1.7578125vw;
  right: 0.9vw;
  top: 0.2vw;
  font-weight: 600;
  height: 1.953125vw;
  color: #224660;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.ask {
  width: 66vw;
  padding-top: 0.8vw;
  padding-bottom: 1vw;
  font-family: "arm-bold", "montserrat-ru-regular";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5625vw;
  line-height: 1.8880208333vw;
  color: #224660;
  display: flex;
  cursor: pointer;
}

.descrip {
  width: 46vw;
  height: 2.8645833333vw;
  font-family: "arm-regular", "montserrat-ru-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 1.0416666667vw;
  line-height: 140%;
  color: #224660;
  display: block;
}

.descripNone {
  display: none;
}

@media only screen and (max-width: 600px) {
  .Questions {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .backgroundPattern {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -11;
  }
  .container {
    width: 90.5797101449vw;
    padding-bottom: 105vw;
  }
  .title {
    display: none;
  }
  .questionsBlock {
    margin-top: 8.4541062802vw;
    display: flex;
    flex-direction: column;
    gap: 4vw;
    padding-left: 1vw;
  }
  .mapBlock {
    display: flex;
    gap: 5vw;
    margin-bottom: 4.8309178744vw;
  }
  .imgPatternBlock {
    position: relative;
  }
  .imgPatternBlock .pattern {
    position: relative;
    width: 19.3236714976vw;
    height: 19.3236714976vw;
  }
  .imgPatternBlock .plus {
    position: absolute;
    z-index: 2;
    font-size: 4.1062801932vw;
    right: 2.4vw;
    top: 3.5vw;
    font-weight: 600;
    height: 1.953125vw;
    color: #224660;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
  }
  .imgPatternBlock .minus {
    position: absolute;
    z-index: 2;
    font-size: 4.1062801932vw;
    right: 2.9vw;
    top: 3.5vw;
    font-weight: 600;
    height: 1.953125vw;
    color: #224660;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
  }
  .ask {
    width: 59.6618357488vw;
    padding-top: 0.8vw;
    padding-bottom: 1vw;
    font-family: "arm-bold", "montserrat-ru-regular";
    font-style: normal;
    font-weight: 700;
    font-size: 3.8647342995vw;
    line-height: 4.8309178744vw;
    color: #224660;
    display: flex;
    cursor: pointer;
  }
  .descrip {
    width: 56.2801932367vw;
    min-height: 24.154589372vw;
    font-family: "arm-regular", "montserrat-ru-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 3.8647342995vw;
    line-height: 5.7971014493vw;
    color: #224660;
    display: block;
  }
  .descripNone {
    display: none;
  }
}/*# sourceMappingURL=questions.module.css.map */