@function get-vw($size, $width){
    $vw-context: $width * 0.01 * 1px;
    @return $size / $vw-context * 1vw;
    @return $size;
  }
  



.secMain{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 35vw;
}


.container{
    width: 90vw;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;

}


.title{
    margin-bottom: 6vw;
    .accounting{
        font-family: 'Bokonique-regular','montserrat-ru-semibold';
        font-style: normal;
        font-weight: 400;
        font-size: 2.34375vw;
        line-height: 140%;
        text-transform: uppercase;
        color: #224660;
    }
}

.dataContainer{
    display: flex;
    width: 90vw;
    justify-content: center;
}
.dataBlock{
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    gap: 5vw;

}

.reportBlock{
    display: flex;
    align-items: center;
    gap: 1vw;
    width: 35vw;
    cursor: pointer;
}
.descrip{
    max-width: 29vw;
    height: 1.4322916666666667vw;
    font-family: 'arm-regular','montserrat-ru-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 1.0416666666666667vw;
    line-height: 140%;
    color: #224660;
}


@media only screen and (max-width: 600px) {
 
        
    .secMain{
        width: get-vw(414px,414 );
        display: flex;
        justify-content: center;
        margin-bottom: 90vw;
    }


    .container{
        width: get-vw(365px,414 );
        margin-top: 5vw;
        display: flex;
        flex-direction: column;

    }


    .title{

        margin-bottom: 6vw;
        .accounting{
            font-family: 'Bokonique-regular','montserrat-ru-regular';
            font-style: normal;
            font-weight: 400;
            font-size: get-vw(28px,414 );
            line-height: get-vw(33px,414 );
            text-transform: uppercase;
            color: #224660;
        }
    }

    .dataContainer{
        display: flex;
        width: 90vw;
        justify-content: center;
    }
    .dataBlock{
        display: flex;
        flex-direction: column;
        width: get-vw(365px,414 );
        // gap: 15vw;
        justify-content: center;
        align-items: center;
    }

    .reportBlock{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vw;
        width: get-vw(365px,414 );
        cursor: pointer;
        justify-content: center;
        margin-bottom: 15vw;
    }
    .descrip{
        width: get-vw(365px,414 );
        height: get-vw(30px,414 );
        font-family: 'arm-regular','montserrat-ru-regular';
        font-style: normal;
        font-weight: 400;
        font-size: get-vw(16px,414 );
        line-height: get-vw(22px,414 );
        color: #224660;
        text-align: center;
    }

}